<!-- Photo slideshow: http://kimjoyfox.com/creating-a-jquery-slideshow-from-scratch/#sthash.jwISid67.dpuf -->

<!doctype html>
<html>
    <head>
        <title>ajax example</title>
        <link rel="stylesheet" href="foundation.min.css">
        <link rel="stylesheet" href="styles.css">
        <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
        <script>
            $(document).ready(function(){

              function startSlideShow(photos) {
                // ****** Photo Slide Show ******

                //this will start the animation automatically
                setInterval(forwardImage, 2500);
                
                //This function will find the key for the current Image
                function currentImageKey() {
                  i = jQuery.inArray($('#slideshow').attr('src'), photos);
                  return i;
                }

                //This function will move the slideshow forward one
                function forwardImage() {
                  currentImageKey();
                  if (i < photos.length - 1) {
                    changeImage(i + 1);
                  } else {
                    changeImage(0);
                  }
                }

                //This function will change to image to whatever the variable i passes to it
                function changeImage(i) {
                  $('#slideshow').stop().animate({
                  // opacity: 0,
                  }, 200, function() {
                    $('#slideshow').attr('src', photos[i]);
                      $('#holder img').load(function() {
                        $('#slideshow').stop().animate({
                          opacity: 1,
                        }, 200)
                      })
                  })
                }
                // ************************************
              }

              // we use submit instead of click to take advantage of things like
              // using the enter key to submit
            $('form').on('submit', function(e){
              e.preventDefault();
              var query = $('#query').val();
              var url = "https://api.instagram.com/v1/tags/"+query+"/media/recent?client_id=07de661150fe49f989d53494e48b156a";

              $.ajax({
                  url: url,
                  success: function(response) {
                  // console.log(response);
                    var photos = [];
                    for(var i=0; i<response.data.length; i++)
                    {
                      $("#photo-row").append("<td><div id='photo-container'><img src="+response.data[i].images.standard_resolution.url + " /></div></td>");
                      photos.push(response.data[i].images.standard_resolution.url);
                    }
                    //debugger
                    $("#start-show-button").on("click", function() {
                      console.log('clicked!');
                      $('#reset-search-button').slideToggle('fast');
                      $('#start-show-button').slideToggle('fast');
                        startSlideShow(photos);

                        $("#reset-search-button").on("click", function() {
                          $('#reset-search-button').slideToggle('fast');
                          $('#start-show-button').slideToggle('fast');
                          $('#search-form').trigger("reset");
                          photos = [];
                        });

                    });

                  },
                  dataType: "jsonp",
              }); //ajax
            });
          });

        </script>
    </head>
    <body>
 
        <div id='search-container'>
            Search:
            <form id='search-form'>
                <input type='text' name='query' id='query' />
                <input type='submit' name='submit' id='submit' value='Search' class='button' />
            </form>
        </div>

        <div id='slideshow-container'>
          <img id="slideshow" alt="" src="" /><br>
          <input type='submit' name='submit' id='start-show-button' value='Start Slideshow' class='button' />
          <input type='submit' name='submit' id='reset-search-button' value='Reset ' class='button' />
        </div>
 
        <div id='gallery'><!-- search results append here! -->
          <table id='photo-container'>
          <tr id="photo-row"></tr>
          </table>
        </div>
 
    </body>
</html>